src/main/mule/sub-flows/send-mail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="send-email" doc:id="5c851125-8fcd-4946-8702-228de4b86ad1" >
		<email:send doc:name="Send" doc:id="1e70f492-48ca-40af-83a6-11393aabf2e6" config-ref="Email_SMTP" fromAddress="shatadru.mandal@cloudkaptan.com" subject="#[vars.emailSubject]">
			<email:to-addresses>
				<email:to-address value="#[vars.emailId]" />
			</email:to-addresses>
			<email:body contentType="text/plain">
				<email:content><![CDATA[#[vars.emailBody]]]></email:content>
			</email:body>
		</email:send>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d1d0f3b1-13b1-46a4-9a00-fb234373a8d8" type="ANY">
				<ee:transform doc:name="Set Error Payload" doc:id="0aed5000-7d12-4dc7-80c1-a2518275f37a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import modules::errorUtils
output application/json
---
errorUtils::buildErrorResponse(vars.transactionId, vars.flowName, error)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Error Log" doc:id="9f0d1dec-4edc-4cef-b3ca-1ed642f869fc" message="#[payload]"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
